{% extends "base.html" %}
{% load static %}

{% block body %}
    <main>
      <!-- breadcrumb-area -->
      <section
        class="breadcrumb__area include-bg pt-150 pb-150 breadcrumb__overlay"
        data-background="{% static 'assets/img/breadcrumb/breadcrumb-bg-1.jpg' %}"
      >
        <div class="container">
          <div class="row">
            <div class="col-xxl-12">
              <div class="breadcrumb__content p-relative z-index-1">
                <h3 class="breadcrumb__title mb-20">Shopping Cart</h3>
                <div class="breadcrumb__list">
                  <span><a href="index.html">Home</a></span>
                  <span class="dvdr"
                    ><i class="fa-regular fa-angle-right"></i
                  ></span>
                  <span><a href="index.html">Pages</a></span>
                  <span class="dvdr"
                    ><i class="fa-regular fa-angle-right"></i
                  ></span>
                  <span class="sub-page-black">Shopping Cart</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- breadcrumb-area-end -->

      <!-- cart area -->
      <section
        class="cart-area pt-100 pb-100 wow fadeInUp"
        data-wow-duration=".8s"
        data-wow-delay=".2s"
      >
        <div class="container">
          <div class="row">
            <div class="col-12">
              <form action="#">
                <div class="table-content table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="product-thumbnail">Images</th>
                        <th class="cart-product-name">Courses</th>
                        <th class="product-price">Unit Price</th>
                        <th class="product-remove">Remove</th>
                      </tr>
                    </thead>
                    <tbody>


                    {% for item in cart_detail_data %}
                      <tr>
                        <td class="product-thumbnail">
                          <a href="course-details.html"
                            ><img
                              src="{{item.course.image.url}}"
                              alt=""
                          /></a>
                        </td>
                        <td class="product-name">
                          <a href="course-details.html"
                            >{{item.course}}</a
                          >
                        </td>
                        <td class="product-price">
                          <span class="amount">${{item.course.price}}</span>
                        </td>
                       
                        
                        <td class="product-remove">
                          <a href="/orders/{{item.id}}/remove-form-cart"><i class="fa fa-times"></i></a>
                        </td>
                      </tr>
                  {% endfor %}
                   
                     

                     
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="coupon-all">


                    <form method = 'get' >
                        {% csrf_token %}
                      <div class="coupon">
                        <input
                          id="coupon_code"
                          class="input-text"
                          name="coupon_code"
                          value=""
                          placeholder="Coupon code"
                          type="text"
                        />
                        <button
                          class="tp-btn"
                          name="apply_coupon"
                          type="submit"
                        >
                          Apply coupon
                        </button>
                      </div>

                      <div class="coupon2">
                        <button class="tp-btn" name="update_cart" type="submit">
                          Update cart
                        </button>
                      </div>
                    </form>


                  {% if error %}
                      <div class="error">{{ error }}</div>
                  {% endif %}

                    </div>
                  </div>
                </div>
                <div class="row justify-content-end">
                  <div class="col-md-5">
                    <div class="cart-page-total">
                      <h2>Cart totals</h2>
                      <ul class="mb-20">
                          <li>Subtotal <span>${{ sub_total|floatformat:2  }}</span></li>
                          <li>Coupon Value <span>${{ coupon_value|floatformat:2 }}</span></li>
                          <li>Total <span>${{ cart_total|floatformat:2  }}</span></li>
                      </ul>
                      <a class="tp-btn" href="{% url 'orders:checkout' %}">Proceed to checkout</a>

                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- cart area end-->
    </main>


{% endblock body %}