
{% extends "base.html" %}
{% load static%}

{% block body %}


<style> 
/* Comment form styles */

.postbox__comment-input textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.star-rating {
  margin-bottom: 10px;
  display: flex; /* Add flexbox to align stars */
  justify-content: center; /* Center stars horizontally */
}
.star-rating input[type="radio"] {
  display: none;
}

.star-rating label {
  display: inline-block;
  cursor: pointer;
  color: #aaa;
  font-size: 40px;
}

.star-rating label i {
  margin: 0 2px;
}

.star-rating input[type="radio"]:checked + label i,
.star-rating input[type="radio"]:checked + label:hover ~ label i {
  color: #ffd700; /* Change color to yellow for selected stars */
}


</style>






    <main>
      <!-- breadcrumb-area -->
      <section
        class="breadcrumb__area include-bg pt-150 pb-150 breadcrumb__overlay"
        data-background="{% static 'assets/img/breadcrumb/breadcrumb-bg-1.jpg' %}"
      >
        <div class="container">
          <div class="row">
            <div class="col-xxl-12">
              <div class="breadcrumb__content p-relative z-index-1">
                <h3 class="breadcrumb__title mb-20">Course Details</h3>
                <div class="breadcrumb__list">
                  <span><a href="index.html">Home</a></span>
                  <span class="dvdr"
                    ><i class="fa-regular fa-angle-right"></i
                  ></span>
                  <span><a href="course-list.html">Courses</a></span>
                  <span class="dvdr"
                    ><i class="fa-regular fa-angle-right"></i
                  ></span>
                  <span class="sub-page-black">Course Details</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- breadcrumb-area-end -->

      <!-- course-details-area -->
      <section
        class="c-details-area pt-120 pb-50 wow fadeInUp"
        data-wow-duration=".8s"
        data-wow-delay=".2s"
      >
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-12">
              <div class="c-details-wrapper mr-25">
                <div class="c-details-thumb p-relative mb-40">
                  <img
                    src="{{object.image.url}} "
                    alt="details-bg"
                  />
                  <div class="c-details-ava d-md-flex align-items-center">
                    <img
                      src="{% static 'assets/img/course/c-details-ava-01.png' %}"
                      alt="avata"
                    />
                    <span>By <a href="#">{{object.instructor}}</a></span>
                  </div>
                </div>
                <div class="course-details-content mb-45">
                  <div class="tpcourse__category mb-15">
                    <ul class="tpcourse__price-list d-flex align-items-center">
                    {% for tag in object.tags.all %}
                    <li><a class="c-color-yellow" href="#">{{tag}}</a></li>
                    {% endfor %}
                       
                    </ul>
                  </div>
                  <div class="tpcourse__ava-title mb-25">
                    <h4 class="c-details-title">
                      <a href="#"
                        >{{object.title}}</a
                      >
                    </h4>
                  </div>
                  <div class="tpcourse__meta course-details-list">
                    <ul class="d-flex align-items-center">
                      <li>
                        <div class="rating-gold d-flex align-items-center">
                         <p>{{course.avg_rate}}</p>
                            <i class="fi {% if course.avg_rate > 0 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                            <i class="fi {% if course.avg_rate > 1 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                            <i class="fi {% if course.avg_rate > 2 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                            <i class="fi {% if course.avg_rate > 3 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                            <i class="fi {% if course.avg_rate > 4 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                          
                         <span>({{course.reviews.count}})</span>
                        </div>
                      </li>
                      <li>
                        <img
                          src="{% static 'assets/img/icon/c-meta-01.png' %}"
                          alt="meta-icon"
                        />
                        <span>35 Classes</span>
                      </li>
                      <li>
                        <img
                          src="{% static 'assets/img/icon/c-meta-02.png' %}"
                          alt="meta-icon"
                        />
                        <span>291 Students</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="c-details-about mb-40">
                  <h5 class="tp-c-details-title mb-20">About This Course</h5>
                  <p>
                   {{object.description}}.
                  </p>
                
                </div>
                <div class="cor-details-instructor mb-40">
                  <h4 class="tp-c-details-title mb-40">Instructor</h4>
                  <div
                    class="course-instructor-details d-flex f-wrap align-items-center"
                  >
                    <div class="course-avata mr-30 mb-20">
                      <img
                        src="{% static 'assets/img/course/c-details-ava-thumb-01.jpg' %}"
                        alt="avata-thumb"
                      />
                    </div>
                    <div class="course-avatar-details mb-20">
                      <h5 class="c-avata-title mb-10">{{object.instructor}}</h5>
                      <p>
                        Award Winning Chemical & User Interface Design Training
                      </p>
                      <div class="c-details-list mb-5">
                        <ul class="d-flex align-items-center">
                          <li>
                            <div class="rating-gold d-flex align-items-center">
                              <p>{{course.avg_rate}}</p>
                            <i class="fi {% if object.avg_rate > 0 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                            <i class="fi {% if object.avg_rate > 1 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                            <i class="fi {% if object.avg_rate > 2 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                            <i class="fi {% if object.avg_rate > 3 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                            <i class="fi {% if object.avg_rate > 4 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                          
                         <span>({{course.reviews.count}})</span>
                            </div>
                          </li>
                          <li>
                            <img
                              src="{% static 'assets/img/icon/c-details-01.png' %}"
                              alt="meta-icon"
                            /><span>35 Classes</span>
                          </li>
                        </ul>
                      </div>
                      <div class="c-details-stu">
                        <ul>
                          <li class="d-flex align-items-center">
                            <img
                              src="{% static 'assets/img/icon/c-details-02.png' %}"
                              alt="meta-icon"
                            />
                            <span>2,35,687 Students</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <p>
                    Synergistically foster 24/7 leadership rather than scalable
                    platforms. Conveniently visualize installed base products
                    before interactive results. Collaboratively restore
                    corporate experiences and open-source applications.
                    Proactively mesh cooperative growth strategies.
                  </p>
                </div>
                <div class="c-details-review pb-15">
                  <div class="c-review-title-wrapper">
                    <h5 class="c-review-title mb-40">Review</h5>
                  </div>
                  <div class="course-reviewer-item-wrapper">
                  {% for review in object.reviews.all %}
                      <div class="course-reviewer-item d-flex mb-25">
                      <div class="course-review-ava">
                        <img
                          src="{% static 'assets/img/icon/c-details-avata-01.png' %}"
                          alt="details-avata"
                        />
                      </div>
                      <div class="course-review-content p-relative">
                        <h5 class="course-ava-title mb-15">{{review.user}}</h5>
                        <div
                          class="tpcourse__rating-icon d-flex align-items-center mb-10"
                        >
                            <i class="fi {% if review.rate  > 0 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                            <i class="fi {% if review.rate > 1 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                            <i class="fi {% if review.rate > 2 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                            <i class="fi {% if review.rate > 3 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                            <i class="fi {% if review.rate > 4 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                          
                        </div>
                        <p>
                          {{review.comment}}
                        </p>
                        <div class="c-reviewer-time">
                          <span>{{review.created_at}}</span>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
           
              <div class="postbox__comment-form">
                <div class="col-xxl-12">
                      <div class="star-rating">
                        <input type="radio" name="rate" value="5" id="star-1"><label for="star-1"><i class="fi fi-ss-star"></i></label>
                        <input type="radio" name="rate" value="4" id="star-2"><label for="star-2"><i class="fi fi-ss-star"></i></label>
                        <input type="radio" name="rate" value="3" id="star-3"><label for="star-3"><i class="fi fi-ss-star"></i></label>
                        <input type="radio" name="rate" value="2" id="star-4"><label for="star-4"><i class="fi fi-ss-star"></i></label>
                        <input type="radio" name="rate" value="1" id="star-5"><label for="star-5"><i class="fi fi-ss-star"></i></label>
                      </div>
                    </div>
                <h3 class="postbox__comment-form-title">Write a comment</h3>
                <form id="comment-form">
                  <div class="row">
                    <div class="col-xxl-12">
                      <div class="postbox__comment-input">
                        <textarea name="comment" id="comment" placeholder="Enter your comment ..."></textarea>
                      </div>
                    </div>
                  
                    <div class="col-xxl-12">
                      <div class="postbox__comment-btn">
                        <button type="submit" class="tp-btn">Post Comment</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>



                  
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="c-details-sidebar">
                <div class="c-video-thumb p-relative mb-25">
                  <img
                    src="{% static 'assets/img/bg/c-details-video-bg.jpg' %}"
                    alt="video-bg"
                  />
                  <div class="c-video-icon">
                  <video class="popup-video" controls poster="{% static 'assets/img/bg/c-details-video-bg.jpg' %} width="400" height="200">
                      <source src="{{ object.introduction_video.url }}" type="video/mp4">
                      Your browser does not support the video tag.
                  </video>

                  </div>
                </div>
                <div class="course-details-widget">
                  <div class="cd-video-price">
                    <h3 class="pricing-video text-center mb-15">${{object.price}}</h3>
                    <div class="cd-pricing-btn text-center mb-30">
                      <a class="tp-vp-btn" href="course-details.html"
                        >Add To Cart</a
                      >
                      <a class="tp-vp-btn-green" href="course/{{object.id}}/lessons"
                        >Enroll Now</a
                      >
                    </div>
                  </div>
                  <div class="cd-information mb-35">
                    <ul>
                      <li>
                        <i class="fa-light fa-calendars"></i>
                        <label>Lesson</label> <span>36</span>
                      </li>
                      <li>
                        <i class="fi fi-rr-chart-pie-alt"></i>
                        <label>Quizess</label> <span>6</span>
                      </li>
                      <li>
                        <i class="fi fi-rr-user"></i> <label>Students</label>
                        <span>105</span>
                      </li>
                      <li>
                        <i class="fa-light fa-clock-desk"></i>
                        <label>Duration</label> <span>{{object.duration}} Hours</span>
                      </li>
                      <li>
                        <i class="fi fi-sr-stats"></i>
                        <label>Skill Level</label> <span>{{object.skill_level}}</span>
                      </li>
                      <li>
                        <i class="fi fi-rr-comments"></i>
                        <label>Language</label> <span>{{object.language}}</span>
                      </li>
                      <li>
                        <i class="fi fi-rs-diploma"></i>
                        <label>Certificate</label> <span>{{object.certificate}}</span>
                      </li>
                    </ul>
                  </div>
                  <div class="c-details-social">
                    <h5 class="cd-social-title mb-25">Share Now:</h5>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- course-details-area-end -->

      <!-- course-area -->
      <section class="course-area mb-80">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title mb-65">
                <h2 class="tp-section-title mb-20">Related Courses</h2>
              </div>
            </div>
          </div>
          <div class="row">
          {% for related_course in related_courses %}
               <div class="col-xl-4 col-lg-6 col-md-6">
              <div
                class="tpcourse mb-40 wow fadeInUp"
                data-wow-duration=".8s"
                data-wow-delay=".3s"
              >
                <div class="tpcourse__thumb p-relative w-img fix">
                  <a href="course-details.html"
                    ><img
                      src="{% static 'assets/img/course/course-thumb-01.jpg' %}"
                      alt="course-thumb"
                  /></a>
                  <div class="tpcourse__tag">
                    <a href="course-details.html"
                      ><i class="fi fi-rr-heart"></i
                    ></a>
                  </div>
                  <div class="tpcourse__img-icon">
                    <img
                      src="{% static 'assets/img/icon/course-3-avata-1.png' %}"
                      alt="course-avata"
                    />
                  </div>
                </div>
                <div class="tpcourse__content-2">
                  <div class="tpcourse__category mb-10">
                    <ul class="tpcourse__price-list d-flex align-items-center">
                    {% for tag in related_course.tags.all %}
                      <li>
                        <a class="c-color-yellow" href="course-details.html"
                          >{{tag}}</a
                        >
                      </li>
                    {% endfor %}
                    
                     
                    </ul>
                  </div>
                  <div class="tpcourse__ava-title mb-15">
                    <h4 class="tpcourse__title tp-cours-title-color">
                      <a href="/courses/{{related_course.id}}"
                        >{{related_course.title}}</a
                      >
                    </h4>
                  </div>
                  <div class="tpcourse__meta tpcourse__meta-gap pb-15 mb-15">
                    <ul class="d-flex align-items-center">
                      <li>
                        <img
                          src="{% static 'assets/img/icon/c-meta-01.png' %}"
                          alt="meta-icon"
                        />
                        <span>35 Classes</span>
                      </li>
                      <li>
                        <img
                          src="{% static 'assets/img/icon/c-meta-02.png' %}"
                          alt="meta-icon"
                        />
                        <span>291 Students</span>
                      </li>
                    </ul>
                  </div>
                  <div
                    class="tpcourse__rating d-flex align-items-center justify-content-between"
                  >
                    <div class="tpcourse__rating-icon">
                      <span>{{related_course.avg_rate}}</span>
                            <i class="fi {% if related_course.avg_rate > 0 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></>
                            <i class="fi {% if related_course.avg_rate > 1 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                            <i class="fi {% if related_course.avg_rate > 2 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                            <i class="fi {% if related_course.avg_rate > 3 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                            <i class="fi {% if related_course.avg_rate > 4 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                          
                         <p>({{related_course.reviews.count}})</p>
                    </div>
                    <div class="tpcourse__pricing">
                      <h5 class="price-title">${{related_course.price}}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          {% endfor %}
       
          </div>
        </div>
      </section>
      <!-- course-area-end -->

      <!-- counter-area -->
      <section
        class="tp-counter-area theme-bg pt-90 wow fadeInUp"
        data-wow-duration=".8s"
        data-wow-delay=".2s"
      >
        <div class="counter-b-border">
          <div class="container">
            <div class="row">
              <div class="col-xl-3 col-md-6">
                <div class="counter-item mb-70">
                  <div class="counter-item__content counter-white-text">
                    <h4 class="counter-item__title counter-left-title">
                      <span class="counter">276</span>K
                    </h4>
                    <p>Worldwide Students</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="counter-item mb-70">
                  <div class="counter-item__content counter-white-text">
                    <h4 class="counter-item__title counter-left-title">
                      <span class="counter">23</span>+
                    </h4>
                    <p>Years Experience</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="counter-item mb-70">
                  <div class="counter-item__content counter-white-text">
                    <h4 class="counter-item__title counter-left-title">
                      <span class="counter">735</span>+
                    </h4>
                    <p>Professional Courses</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="counter-item mb-70">
                  <div class="counter-item__content counter-white-text">
                    <h4 class="counter-item__title counter-left-title">
                      <span class="counter">4.7</span>K+
                    </h4>
                    <p>Beautiful Review</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- counter-area-end -->
    </main>
{% endblock body%}