{% extends "base.html" %}
{% load static%}

{% block body %}
    <main>
      <!-- breadcrumb-area -->
      <section
        class="breadcrumb__area include-bg pt-150 pb-150 breadcrumb__overlay"
        data-background="{% static 'assets/img/breadcrumb/breadcrumb-bg-1.jpg' %}"
      >
        <div class="container">
          <div class="row">
            <div class="col-xxl-12">
              <div class="breadcrumb__content p-relative z-index-1">
                <h3 class="breadcrumb__title mb-20">Course List</h3>
                <div class="breadcrumb__list">
                  <span><a href="index.html">Home</a></span>
                  <span class="dvdr"
                    ><i class="fa-regular fa-angle-right"></i
                  ></span>
                  <span><a href="course-grid.html">Courses</a></span>
                  <span class="dvdr"
                    ><i class="fa-regular fa-angle-right"></i
                  ></span>
                  <span class="sub-page-black">Course List</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- breadcrumb-area-end -->

      <!-- feature-area -->
      <section class="feature-area pt-115 pb-90">
        <div class="container">
          <div class="tp-feature-cn">
            <div class="row">
              <div class="col-xl-3 col-lg-6 col-md-6">
                <div
                  class="tpfea tp-feature-item text-center mb-30 wow fadeInUp"
                  data-wow-duration=".8s"
                  data-wow-delay=".2s"
                >
                  <div class="tpfea__icon mb-25">
                    <i class="fi fi-rr-paper-plane"></i>
                  </div>
                  <div class="tpfea__text">
                    <h5 class="tpfea__title mb-5">Online Courses</h5>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6">
                <div
                  class="tpfea tp-feature-item text-center mb-30 wow fadeInUp"
                  data-wow-duration=".8s"
                  data-wow-delay=".4s"
                >
                  <div class="tpfea__icon mb-25">
                    <i class="fi fi-rr-user"></i>
                  </div>
                  <div class="tpfea__text">
                    <h5 class="tpfea__title mb-5">Expert Trainer</h5>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6">
                <div
                  class="tpfea tp-feature-item text-center mb-30 wow fadeInUp"
                  data-wow-duration=".8s"
                  data-wow-delay=".6s"
                >
                  <div class="tpfea__icon mb-25">
                    <i class="fi fi-rr-document"></i>
                  </div>
                  <div class="tpfea__text">
                    <h5 class="tpfea__title mb-5">Get Certificate</h5>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6">
                <div
                  class="tpfea tp-feature-item text-center mb-30 wow fadeInUp"
                  data-wow-duration=".8s"
                  data-wow-delay=".8s"
                >
                  <div class="tpfea__icon mb-25">
                    <i class="fi fi-rr-calendar"></i>
                  </div>
                  <div class="tpfea__text">
                    <h5 class="tpfea__title mb-5">Life Time Access</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- feature-area-end -->

      <!-- course-list-area -->
      <section
        class="course-list-area pb-120 wow fadeInUp"
        data-wow-duration=".8s"
        data-wow-delay=".2s"
      >
        <div class="container">
          <div class="row text-center">
            <div class="col-lg-12">
              <div class="section-title mb-60">
                <span class="tp-sub-title-box mb-15">Our Courses</span>
                <h2 class="tp-section-title">Explore Popular Courses</h2>
              </div>
            </div>
          </div>
          <div class="row mb-20">
            <div class="col-lg-4 col-md-12 courser-list-width mb-60">
              <div class="course-sidebar">
                <div class="course-sidebar__cata mb-50">
                  <h4 class="course-sidebar__title mb-35">Category</h4>
                  <div class="course-sidebar__select-list">
                    <select>
                      <option>All Category</option>
                      <option>Course Level</option>
                      <option>Course Price</option>
                      <option>Instructor</option>
                      <option>Class Duration</option>
                    </select>
                  </div>
                </div>
                <div class="course-sidebar__widget mb-50">
                  <div class="course-sidebar__info c-info-list">
                    <h4 class="course-sidebar__title mb-35">Course Level</h4>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        All Levels
                      </label>
                      <span class="f-right">99</span>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckChecked"
                      />
                      <label class="form-check-label" for="flexCheckChecked">
                        Beginner
                      </label>
                      <span class="f-right">63</span>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckChecked3"
                      />
                      <label class="form-check-label" for="flexCheckChecked3">
                        Intermediate
                      </label>
                      <span class="f-right">96</span>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckChecked4"
                      />
                      <label class="form-check-label" for="flexCheckChecked4">
                        Expert
                      </label>
                      <span class="f-right">35</span>
                    </div>
                  </div>
                </div>
                <div class="course-sidebar__widget mb-50">
                  <div class="course-sidebar__info c-info-list">
                    <h4 class="course-sidebar__title mb-30">Course Price</h4>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault5"
                      />
                      <label class="form-check-label" for="flexCheckDefault5">
                        Free Courses
                      </label>
                      <span class="f-right">13</span>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckChecked6"
                      />
                      <label class="form-check-label" for="flexCheckChecked6">
                        Paid Courses
                      </label>
                      <span class="f-right">25</span>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckChecked7"
                      />
                      <label class="form-check-label" for="flexCheckChecked7">
                        Subscription Only
                      </label>
                      <span class="f-right">99</span>
                    </div>
                  </div>
                </div>
                <div class="course-sidebar__widget mb-50">
                  <div class="course-sidebar__info c-info-list">
                    <h4 class="course-sidebar__title mb-35">Instructor</h4>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault8"
                      />
                      <label class="form-check-label" for="flexCheckDefault8">
                        Albert Flores
                      </label>
                      <span class="f-right">55</span>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckChecked9"
                      />
                      <label class="form-check-label" for="flexCheckChecked9">
                        Savannah Nguyen
                      </label>
                      <span class="f-right">40</span>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckChecked10"
                      />
                      <label class="form-check-label" for="flexCheckChecked10">
                        Arlene McCoy
                      </label>
                      <span class="f-right">26</span>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckChecked11"
                      />
                      <label class="form-check-label" for="flexCheckChecked11">
                        Bessie Cooper
                      </label>
                      <span class="f-right">35</span>
                    </div>
                  </div>
                </div>
                <div class="course-sidebar__widget mb-50">
                  <div class="course-sidebar__info c-info-list">
                    <h4 class="course-sidebar__title mb-35">Class Duration</h4>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault12"
                      />
                      <label class="form-check-label" for="flexCheckDefault12">
                        Less Than 2 hours
                      </label>
                      <span class="f-right">96</span>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckChecked13"
                      />
                      <label class="form-check-label" for="flexCheckChecked13">
                        3-5 hours
                      </label>
                      <span class="f-right">27</span>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckChecked14"
                      />
                      <label class="form-check-label" for="flexCheckChecked14">
                        4-7 hours
                      </label>
                      <span class="f-right">88</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-md-12 course-item-width ml-30">
            {% for course in courses %}
               <div class="tpcourse tp-list-course mb-40">
                <div class="row g-0">
                  <div class="col-xl-4 course-thumb-width">
                    <div class="tpcourse__thumb p-relative w-img fix">
                      <a href="course-details.html"
                        ><img
                          src="{{course.image.url}}"
                          alt="course-thumb"
                      /></a>
                    </div>
                  </div>
                  <div class="col-xl-8 course-text-width">
                    <div class="course-list-content">
                      <div class="tpcourse__category mb-10">
                        <ul
                          class="tpcourse__price-list d-flex align-items-center"
                        >
                        {% for tag in course.tags.all %}
                          <li>
                            <a class="c-color-yellow" href="course-details.html"
                              >{{tag}}</a
                            >
                          </li>
                        {% endfor %}
                          
                         
                        </ul>
                      </div>
                      <div class="tpcourse__ava-title mb-15">
                        <h4 class="tpcourse__title tp-cours-title-color">
                          <a href="/courses/{{course.slug}}"
                            >{{course.title}}</a
                          >
                        </h4>
                      </div>
                      <div
                        class="tpcourse__meta tpcourse__meta-gap pb-15 mb-15"
                      >
                        <ul class="d-flex align-items-center">
                          <li>
                            <img
                              src="{% static 'assets/img/icon/c-meta-01.png' %}"
                              alt="meta-icon"
                            />
                            <span>35 Classes</span>
                          </li>
                          <li>
                            <img
                              src="{% static 'assets/img/icon/c-meta-02.png' %}"
                              alt="meta-icon"
                            />
                            <span>291 Students</span>
                          </li>
                        </ul>
                      </div>
                      <div
                        class="tpcourse__rating d-flex align-items-center justify-content-between"
                      >
                        <div class="tpcourse__rating-icon">
                            <span>{{ course.avg_rate|floatformat:"2"|truncatechars:"6" }}</span>
                            <i class="fi {% if course.avg_rate > 0 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                            <i class="fi {% if course.avg_rate > 1 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                            <i class="fi {% if course.avg_rate > 2 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                            <i class="fi {% if course.avg_rate > 3 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                            <i class="fi {% if course.avg_rate > 4 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                          
                         <p>({{course.reviews.count|slice:"2"}})</p>
                        </div>
                        <div class="tpcourse__pricing">
                          <h5 class="price-title">${{course.price}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
           
            
            
            </div>
          </div>
          <div class="basic-pagination text-center">
            <nav>
              <ul>
                <li>
                  <a href="blog.html">
                    <i class="far fa-angle-left"></i>
                  </a>
                </li>
                <li>
                  <span class="current">1</span>
                </li>
                <li>
                  <a href="blog.html">2</a>
                </li>
                <li>
                  <a href="blog.html">3</a>
                </li>
                <li>
                  <a href="blog.html">
                    <i class="far fa-angle-right"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </section>
      <!-- course-list-area-end -->

      <!-- suitable-area -->
      <section
        class="suitable-area bg-bottom grey-bg pt-115 pb-90 wow fadeInUp"
        data-wow-duration=".8s"
        data-wow-delay=".2s"
        data-background="assets/img/bg/shape-bg-1.png"
      >
        <div class="container">
          <div class="row text-center">
            <div class="col-lg-12">
              <div class="section-title mb-60">
                <span class="tp-sub-title-box mb-15">Join With Us</span>
                <h2 class="tp-section-title">Which One is Suitable For You?</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-12">
              <div class="tp-suit mb-30 p-relative white-bg">
                <div class="tp-suit__content">
                  <h4 class="tp-suit__title">
                    Do you want to <span>Learn</span> here?
                  </h4>
                  <p>Dramatically supply transpa deliverables before & you.</p>
                  <div class="tp-suit__btn pt-5">
                    <a href="contact.html" class="tp-border-btn">Join Now</a>
                  </div>
                </div>
                <div class="tp-suit__img">
                  <img src="{% static 'assets/img/bg/suit-bg-01.png' %}" alt="suitable-img" />
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-12">
              <div class="tp-suit mb-30 p-relative white-bg">
                <div class="tp-suit__content">
                  <h4 class="tp-suit__title">
                    Do you want to <span>Teach</span> here?
                  </h4>
                  <p>Dramatically supply transpa deliverables before & you.</p>
                  <div class="tp-suit__btn pt-5">
                    <a href="contact.html" class="tp-border-btn">Join Now</a>
                  </div>
                </div>
                <div class="tp-suit__tech">
                  <img src="{% static 'assets/img/bg/suit-bg-02.png' %}" alt="suitable-img" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- suitable-area-end -->

      <!-- counter-area -->
      <section
        class="tp-counter-area theme-bg pt-90 wow fadeInUp"
        data-wow-duration=".8s"
        data-wow-delay=".2s"
      >
        <div class="counter-b-border">
          <div class="container">
            <div class="row">
              <div class="col-xl-3 col-md-6">
                <div class="counter-item mb-70">
                  <div class="counter-item__content counter-white-text">
                    <h4 class="counter-item__title counter-left-title">
                      <span class="counter">276</span>K
                    </h4>
                    <p>Worldwide Students</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="counter-item mb-70">
                  <div class="counter-item__content counter-white-text">
                    <h4 class="counter-item__title counter-left-title">
                      <span class="counter">23</span>+
                    </h4>
                    <p>Years Experience</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="counter-item mb-70">
                  <div class="counter-item__content counter-white-text">
                    <h4 class="counter-item__title counter-left-title">
                      <span class="counter">735</span>+
                    </h4>
                    <p>Professional Courses</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="counter-item mb-70">
                  <div class="counter-item__content counter-white-text">
                    <h4 class="counter-item__title counter-left-title">
                      <span class="counter">4.7</span>K+
                    </h4>
                    <p>Beautiful Review</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- counter-area-end -->
    </main>
{% endblock body %}