{% extends "base.html" %}
{% load static%}

{% block body %}
    <main>
      <!-- breadcrumb-area -->
      <section
        class="breadcrumb__area include-bg pt-150 pb-150 breadcrumb__overlay"
        data-background="{% static 'assets/img/breadcrumb/breadcrumb-bg-1.jpg'%}"
      >
        <div class="container">
          <div class="row">
            <div class="col-xxl-12">
              <div class="breadcrumb__content p-relative z-index-1">
                <h3 class="breadcrumb__title mb-20">Course Grid</h3>
                <div class="breadcrumb__list">
                  <span><a href="index.html">Home</a></span>
                  <span class="dvdr"
                    ><i class="fa-regular fa-angle-right"></i
                  ></span>
                  <span><a href="course-list.html">Courses</a></span>
                  <span class="dvdr"
                    ><i class="fa-regular fa-angle-right"></i
                  ></span>
                  <span class="sub-page-black">Course Grid</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- breadcrumb-area-end -->

      <!-- feature-area -->
      <section class="feature-area pt-115 pb-90">
        <div class="container">
          <div class="tp-feature-cn">
            <div class="row">
              <div class="col-xl-3 col-lg-6 col-md-6">
                <div
                  class="tpfea tp-feature-item text-center mb-30 wow fadeInUp"
                  data-wow-duration=".8s"
                  data-wow-delay=".2s"
                >
                  <div class="tpfea__icon mb-25">
                    <i class="fi fi-rr-paper-plane"></i>
                  </div>
                  <div class="tpfea__text">
                    <h5 class="tpfea__title mb-5">Online Courses</h5>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6">
                <div
                  class="tpfea tp-feature-item text-center mb-30 wow fadeInUp"
                  data-wow-duration=".8s"
                  data-wow-delay=".4s"
                >
                  <div class="tpfea__icon mb-25">
                    <i class="fi fi-rr-user"></i>
                  </div>
                  <div class="tpfea__text">
                    <h5 class="tpfea__title mb-5">Expert Trainer</h5>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6">
                <div
                  class="tpfea tp-feature-item text-center mb-30 wow fadeInUp"
                  data-wow-duration=".8s"
                  data-wow-delay=".6s"
                >
                  <div class="tpfea__icon mb-25">
                    <i class="fi fi-rr-document"></i>
                  </div>
                  <div class="tpfea__text">
                    <h5 class="tpfea__title mb-5">Get Certificate</h5>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6">
                <div
                  class="tpfea tp-feature-item text-center mb-30 wow fadeInUp"
                  data-wow-duration=".8s"
                  data-wow-delay=".8s"
                >
                  <div class="tpfea__icon mb-25">
                    <i class="fi fi-rr-calendar"></i>
                  </div>
                  <div class="tpfea__text">
                    <h5 class="tpfea__title mb-5">Life Time Access</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- feature-area-end -->

      <!-- course-area -->
      <section class="course-area pb-120">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title text-center mb-65">
                <span class="tp-sub-title-box mb-15">Our Courses</span>
                <h2 class="tp-section-title mb-20">Explore Popular Courses</h2>
              </div>
            </div>
          </div>
          <div class="row mb-20">
          {% for course in courses %}
           <div class="col-xl-4 col-lg-6 col-md-6">
              <div
                class="tpcourse mb-40 wow fadeInUp"
                data-wow-duration=".8s"
                data-wow-delay=".2s"
              >
                <div class="tpcourse__thumb p-relative w-img fix">
                  <a href="course-details.html"
                    ><img
                      src="{{course.image.url}}"
                      alt="course-thumb"
                  /></a>
                  <div class="tpcourse__tag">
                    <a href="course-details.html"
                      ><i class="fi fi-rr-heart"></i
                    ></a>
                  </div>
                  <div class="tpcourse__img-icon">
                    <img
                      src="{% static 'assets/img/icon/course-3-avata-1.png' %}"
                      alt="course-avata"
                    />
                  </div>
                </div>
                <div class="tpcourse__content-2">
                  <div class="tpcourse__category mb-10">
                    <ul class="tpcourse__price-list d-flex align-items-center">
                      {% for tag in course.tags.all %}
                        <li>
                          <a class="c-color-yellow" href="course-details.html"
                              >{{tag}}</a
                            >
                        </li>
                       {% endfor %}
                    </ul>
                  </div>
                  <div class="tpcourse__ava-title mb-15">
                    <h4 class="tpcourse__title tp-cours-title-color">
                      <a href="/courses/{{course.slug}}"
                        >{{course.title}}</a
                      >
                    </h4>
                  </div>
                  <div class="tpcourse__meta tpcourse__meta-gap pb-15 mb-15">
                    <ul class="d-flex align-items-center">
                      <li>
                        <img
                          src="{% static 'assets/img/icon/c-meta-01.png' %}"
                          alt="meta-icon"
                        />
                        <span>35 Classes</span>
                      </li>
                      <li>
                        <img
                          src="{% static 'assets/img/icon/c-meta-02.png' %}"
                          alt="meta-icon"
                        />
                        <span>291 Students</span>
                      </li>
                    </ul>
                  </div>
                  <div
                    class="tpcourse__rating d-flex align-items-center justify-content-between"
                  >
                    <div class="tpcourse__rating-icon">
                      <span>{{course.avg_rate|floatformat:"2"}}</span>
                      <i class="fi {% if course.avg_rate > 0 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                      <i class="fi {% if course.avg_rate > 1 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                      <i class="fi {% if course.avg_rate > 2 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                      <i class="fi {% if course.avg_rate > 3 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                      <i class="fi {% if course.avg_rate > 4 %}fi-ss-star {% else %}fi-rs-star {% endif %} "></i>
                     
                      <p>({{course.reviews.count}})</p>
                    </div>
                    <div class="tpcourse__pricing">
                      <h5 class="price-title">${{course.price}}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
           
          
          
          </div>
          <div class="basic-pagination">
            <nav>
              <ul>
                <li>
                  <a href="blog.html">
                    <i class="far fa-angle-left"></i>
                  </a>
                </li>
                <li>
                  <span class="current">1</span>
                </li>
                <li>
                  <a href="blog.html">2</a>
                </li>
                <li>
                  <a href="blog.html">3</a>
                </li>
                <li>
                  <a href="blog.html">
                    <i class="far fa-angle-right"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </section>
      <!-- course-area-end -->

      <!-- suitable-area -->
      <section
        class="suitable-area bg-bottom grey-bg pt-115 pb-90 wow fadeInUp"
        data-wow-duration=".8s"
        data-wow-delay=".2s"
        data-background="assets/img/bg/shape-bg-1.png"
      >
        <div class="container">
          <div class="row text-center">
            <div class="col-lg-12">
              <div class="section-title mb-60">
                <span class="tp-sub-title-box mb-15">Join With Us</span>
                <h2 class="tp-section-title">Which One is Suitable For You?</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-12">
              <div class="tp-suit mb-30 p-relative white-bg">
                <div class="tp-suit__content">
                  <h4 class="tp-suit__title">
                    Do you want to <span>Learn</span> here?
                  </h4>
                  <p>Dramatically supply transpa deliverables before & you.</p>
                  <div class="tp-suit__btn pt-5">
                    <a href="contact.html" class="tp-border-btn">Join Now</a>
                  </div>
                </div>
                <div class="tp-suit__img">
                  <img src="{% static 'assets/img/bg/suit-bg-01.png' %}" alt="suitable-img" />
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-12">
              <div class="tp-suit mb-30 p-relative white-bg">
                <div class="tp-suit__content">
                  <h4 class="tp-suit__title">
                    Do you want to <span>Teach</span> here?
                  </h4>
                  <p>Dramatically supply transpa deliverables before & you.</p>
                  <div class="tp-suit__btn pt-5">
                    <a href="contact.html" class="tp-border-btn">Join Now</a>
                  </div>
                </div>
                <div class="tp-suit__tech">
                  <img src="{% static 'assets/img/bg/suit-bg-02.png' %}" alt="suitable-img" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- suitable-area-end -->

      <!-- counter-area -->
      <section
        class="tp-counter-area theme-bg pt-90 wow fadeInUp"
        data-wow-duration=".8s"
        data-wow-delay=".2s"
      >
        <div class="counter-b-border">
          <div class="container">
            <div class="row">
              <div class="col-xl-3 col-md-6">
                <div class="counter-item mb-70">
                  <div class="counter-item__content counter-white-text">
                    <h4 class="counter-item__title counter-left-title">
                      <span class="counter">276</span>K
                    </h4>
                    <p>Worldwide Students</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="counter-item mb-70">
                  <div class="counter-item__content counter-white-text">
                    <h4 class="counter-item__title counter-left-title">
                      <span class="counter">23</span>+
                    </h4>
                    <p>Years Experience</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="counter-item mb-70">
                  <div class="counter-item__content counter-white-text">
                    <h4 class="counter-item__title counter-left-title">
                      <span class="counter">735</span>+
                    </h4>
                    <p>Professional Courses</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="counter-item mb-70">
                  <div class="counter-item__content counter-white-text">
                    <h4 class="counter-item__title counter-left-title">
                      <span class="counter">4.7</span>K+
                    </h4>
                    <p>Beautiful Review</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- counter-area-end -->
    </main>

{% endblock body %}