{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">{{ quiz.title }}</h1>
    <p>{{ quiz.instructions }}</p>

    <!-- Loop through quiz questions -->
    {% for question in quiz.questions.all %}
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">{{ question.text }}</h5>
            <div class="form-check">
                <!-- Loop through question choices -->
                {% for choice in question.choices.all %}
                            
                <input class="form-check-input" type="radio" name="question{{ question.id }}" id="choice{{ choice.id }}" value="{{ choice.id }}">
                <label class="form-check-label" for="choice{{ choice.id }}">{{ choice.text }}</label><br>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary mt-4">Submit</button>
</div>
{% endblock %}
